{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- End of Topbar -->

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Employee Details</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>SN</th>
                            <th>Name</th>
                            <th>Trade/Occupation</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Birthday</th>
                            <th>Print</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for employee in employee %}
                        <tr>
                            <td>{{ employee.id }}</td>
                            <td>{{ employee.firstname }} {{ employee.lastname }}</td>
                            <td>{{ employee.occupation }}</td>
                            <td>{{ employee.phone_number }}</td>
                            <td>{{ employee.email }}</td>
                            <td>{{ employee.dob }}</td>
                            <td><a href="" class="btn btn-info">Print</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
{% endblock %}